Source: ros-lyrical-mvsim
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <jlblanco@ual.es>
Build-Depends: debhelper (>= 9.0.0), cmake, cppzmq-dev, libboost-all-dev, libprotobuf-dev, libprotoc-dev, libzmq3-dev, protobuf-compiler, pybind11-dev, python3-pip, python3-protobuf, python3-venv, ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-gmock, ros-lyrical-ament-cmake-gtest, ros-lyrical-ament-cmake-xmllint, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-mrpt-libgui, ros-lyrical-mrpt-libmaps, ros-lyrical-mrpt-libposes, ros-lyrical-mrpt-libros-bridge, ros-lyrical-mrpt-libtclap, ros-lyrical-nav-msgs, ros-lyrical-ros-environment, ros-lyrical-sensor-msgs, ros-lyrical-stereo-msgs, ros-lyrical-tf2, ros-lyrical-tf2-geometry-msgs, ros-lyrical-visualization-msgs, unzip, wget, ros-lyrical-ros-workspace
Homepage: https://wiki.ros.org/mvsim
Standards-Version: 3.9.2

Package: ros-lyrical-mvsim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cppzmq-dev, libboost-all-dev, libprotobuf-dev, libprotoc-dev, libzmq3-dev, protobuf-compiler, pybind11-dev, python3-pip, python3-protobuf, python3-venv, ros-lyrical-mrpt-libgui, ros-lyrical-mrpt-libmaps, ros-lyrical-mrpt-libposes, ros-lyrical-mrpt-libros-bridge, ros-lyrical-mrpt-libtclap, ros-lyrical-nav-msgs, ros-lyrical-ros2launch, ros-lyrical-sensor-msgs, ros-lyrical-stereo-msgs, ros-lyrical-tf2, ros-lyrical-tf2-geometry-msgs, ros-lyrical-visualization-msgs, unzip, wget, ros-lyrical-ros-workspace
Description: A lightweight multivehicle simulation framework.
