Source: ros-iron-mvsim
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <jlblanco@ual.es>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev, libprotobuf-dev, libprotoc-dev, libzmq3-dev, protobuf-compiler, pybind11-dev, python3-pip, python3-protobuf, python3-venv, ros-iron-ament-cmake, ros-iron-ament-cmake-gmock, ros-iron-ament-cmake-gtest, ros-iron-ament-cmake-xmllint, ros-iron-ament-lint-auto <!nocheck>, ros-iron-ament-lint-common <!nocheck>, ros-iron-mrpt2, ros-iron-nav-msgs, ros-iron-ros-environment, ros-iron-sensor-msgs, ros-iron-tf2, ros-iron-tf2-geometry-msgs, ros-iron-visualization-msgs, unzip, wget, ros-iron-ros-workspace
Homepage: https://wiki.ros.org/mvsim
Standards-Version: 3.9.2

Package: ros-iron-mvsim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libprotobuf-dev, libprotoc-dev, libzmq3-dev, protobuf-compiler, pybind11-dev, python3-pip, python3-protobuf, python3-venv, ros-iron-mrpt2, ros-iron-nav-msgs, ros-iron-ros2launch, ros-iron-sensor-msgs, ros-iron-tf2, ros-iron-tf2-geometry-msgs, ros-iron-visualization-msgs, unzip, wget, ros-iron-ros-workspace
Description: A lightweight multivehicle simulation framework.
